#DNS
HOSTNAME=localhost

#Huggingface
HUGGING_FACE_HUB_TOKEN=token

#LLM
LLM_URL=
MODEL_NAME=


#Postgres | Postgres not in use for now, will be added back later
#PG_DB=QSTAT
#PG_USER=service
#PG_PWD=your-secure-password
#DB_PORT=5432

#PGAmin (debug only)
#PGADMIN_EMAIL=your-email
#PGADMIN_PWD=your-secure-password