# DNS
HOSTNAME=localhost

#Huggingface
HUGGING_FACE_HUB_TOKEN=

#Open Router
OPENROUTER_KEY=

#vLLM
MODEL_NAME=Qwen/Qwen3-4B-AWQ
CPU_MODEL_NAME=Qwen/Qwen3-0.6B

#Larger context means more VRAM usage
#  4096 = 3.38GB
#  8192 = 3.72GB
# 16384 = 4.39GB
# 32768 = 5.73GB
CONTEXT_WINDOW_LEN=16384