venv
API/__pycache__
UserData/Users/*
UserData/default/transcripts/*
UserData/default/uploads/*
UserData/default/vectors/*
!UserData/default/.gitkeep
!UserData/default/*/.gitkeep
API/*/__pycache__/
LLM/__pycache__
SST/__pycache__
RAG/__pycache__

