#Data Handling and file parsing
pandas
numpy
docling

#Generic ML
transformers
accelerate

#Transcritpion
openai-whisper 
faster-whisper
qwen-asr
#pyannote.audio - TODO, solve version conflict with pytorch docker image 

#API
fastapi[standard]

#RAG
chromadb
langchain-text-splitters
sentence-transformers
#pgvector - Using chromadb for now might be reintroduced later

#LLM Pipeline
tiktoken
#rank-bm25
httpx

#DB - Will be reimplemented in the future when Postgres is used for user management
#sqlalchemy
#alembic
#asyncpg