pandas
numpy
transformers
accelerate
openai-whisper #ffmpeg Linux Package needed for this library 
fastapi[standard]

#torch 
#torchvision 
#--extra-index-url https://download.pytorch.org/whl/cu126

